---
title: Web Publishing Checklist
description: Check your publishing
author: Dan Nguyen
---

<div class="welcome">
  <h1>The Web Publishing Checklist</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
